/* Estilos para a página inicial */
body {
    max-width: 1280px; /* Define a largura máxima para caber em telas de notebook */
    margin: 0 auto; /* Centraliza a página horizontalmente */
    padding: 20px;
}

.login-button {
    float: right;
    background-color: #40566d;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #333;
    text-decoration: none;
}

/* Estilos para as seções */
section {
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #f8f8f8;
}

/* Estilos para o rodapé */
footer {
    background-color: #b80606;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
