body {
    font-family: Arial, sans-serif;
    background-image: url(./manje.jpg); /* Substitua 'sua_imagem.jpg' pelo caminho da sua imagem de fundo */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8); /* Fundo com transparência */
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
}

h2 {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="text"],
input[type="tel"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none; /* Remover a borda */
    border-radius: 3px;
    background-color: white; /* Fundo transparente */
    border-bottom: 1px solid #ccc; /* Adicionar uma borda inferior fina para distinção */
    outline: none; /* Remover a borda de foco */
}

button[type="submit"] {
    background-color: #353230;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #ef061a;
}
